flask
python-dotenv
google-genai
waitress
flask-cors
PyMuPDF
flask-sqlalchemy
flask-JWT-Extended
flask-Bcrypt
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
cloud-sql-python-connector[pg8000]